VITE_API_ENDPOINT=http://localhost:8002
VITE_DEV_LAUNCH_PATH=/entry/cuppa_co/seattle?name=Cuppa%20Co&originId=table-1
VITE_ASSETS_EMERGEPAY_URL=https://assets.emergepay-sandbox.chargeitpro.com
VITE_MENU_ENDPOINT=
VITE_PUBLIC_ID=
VITE_APPINSIGHTS_INSTRUMENTATIONKEY=7af84511-b2c1-4160-acf3-9cc7a576fc16

