a:link {
    text-decoration: none;
  }
  
  .IonHeader {
    border: none !important;
  }
  
  .IonContent {
    --background: #f2f5fa;
  }
  .no-border {
    border: none;
  }
  .card-width {
    border-radius: 18px;
    width: 148px;
    height: 148px;
    background-color: #ffffffd1;
  }
  .icon-back {
    background-color: #5a189a;
    border-radius: 14px;
    padding: 10px;
  }
  .card-width-next {
    border-radius: 18px;
  }
  