PORT=8002
DB_CONN_STRING="mongodb+srv://ananth:eQ9cHlze1o2zKhdB@watercooler-o1c-dev.qglt9c0.mongodb.net/"
DB_NAME="order-buddy-v1"
API_ENDPOINT=http://localhost:8002
#  API_ENDPOINT="https://hubbleapidevv2.azurewebsites.net"
STORE_ENDPOINT=http://localhost:5174
MENU_ENDPOINT=http://localhost:5173

TAX_RATE=0.065
EMERGEPAY_ENVIRONMENT_URL=https://api.emergepay-sandbox.chargeitpro.com/virtualterminal/v1

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=-
FIREBASE_CLIENT_EMAIL=

USEEMULATOR=true

LOCALHOST_URL=https://localhost
SUPERTOKENS_API_KEY=
SUPERTOKENS_CONNECTION_URI=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=


EMERGEPAY_ENVIRONMENT_URL=https://api.emergepay-sandbox.chargeitpro.com/virtualterminal/v1
SMART_SCAN_URL=
OPENAI_API_KEY=replace_with_your_openai_api_key

AZURE_STORAGE_ACCOUNT_NAME=obstoragedev
AZURE_STORAGE_CONNECTION_STRING=
APPLICATIONINSIGHTS_CONNECTION_STRING=
ALLOW_MESSAGE= 

SENDGRID_API_KEY=
FROM_EMAIL=