.backgroundTextField{
    background-color: white;
}
#cardNumberContainer,
#expirationDateContainer,
#securityCodeContainer {
  height: 55px;
  margin: 4px 0;
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

/* Label styling */
.payment-label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}